/*-----------------------------------------*/
/*---------- Card classes ----------*/

.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

/*---------- Type variants ----------*/
.card--primary {
}

.card--secondary {
}

/*---------- Size variants ----------*/
.card--small {
  max-width: 18.75rem; /* 300px */
}

.card--medium {
  max-width: 31.25rem; /* 500px */
}

.card--large {
  padding: 1.5rem;
  max-width: 57.5rem; /* 920px */
}

.card--full {
  padding: 1.8rem;
  width: 100%;
}

/*-----------------------------------------*/
/*---------- PostPreview classes ----------*/

.post-wrapper--featured {
  display: flex;
  gap: 1rem;
}

.post-thumbnail {
  width: 100%;
  max-width: 37.5rem;
  max-height: 12.5rem;
  border-radius: 4px;
  object-fit: cover;
}

.post-thumbnail--featured {
  max-height: 25rem;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.post-author {
  font-size: 0.85rem;
  color: #565656;
  border-bottom: 1px solid;
  padding-bottom: 0.0625rem;
  cursor: pointer;
}

.post-content {
  font-size: 0.85rem;
  color: #1e1e1e;
}

/*-----------------------------------------*/
/*---------- Posts page classes ----------*/

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

/*-----------------------------------------*/
/*---------- Header classes ----------*/

.header {
  background-color: #282c34;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1875rem solid #61dafb; /* 3px */
  margin-bottom: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-children {
  margin-left: 1rem;
}

.header-nav-link {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

/*-----------------------------------------*/
/*---------- Footer classes --------------*/

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

.footerLinks {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footerLink {
  text-decoration: none;
  color: #888;
  transition: color 0.3s;
}

.footerLink:hover {
  color: #333;
}
